<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.like.trip.mapper.SelectionanswerMapper" >

    <resultMap id="BaseResultMap" type="com.like.trip.model.Selectionanswer" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="question_id" property="questionId" jdbcType="INTEGER" />
        <result column="info" property="info" jdbcType="VARCHAR" />
        <result column="iscorrect" property="iscorrect" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, question_id, info, iscorrect
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.like.trip.model.SelectionanswerExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from selectionanswer
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from selectionanswer
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from selectionanswer
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.like.trip.model.SelectionanswerExample" >
        delete from selectionanswer
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.like.trip.model.Selectionanswer" useGeneratedKeys="true" keyProperty="id"  >
        insert into selectionanswer (id, question_id, info, 
            iscorrect)
        values (#{id,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, 
            #{iscorrect,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.like.trip.model.Selectionanswer" >
        insert into selectionanswer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="questionId != null" >
                question_id,
            </if>
            <if test="info != null" >
                info,
            </if>
            <if test="iscorrect != null" >
                iscorrect,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="questionId != null" >
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="info != null" >
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="iscorrect != null" >
                #{iscorrect,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.like.trip.model.SelectionanswerExample" resultType="java.lang.Integer" >
        select count(*) from selectionanswer
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update selectionanswer
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.questionId != null" >
                question_id = #{record.questionId,jdbcType=INTEGER},
            </if>
            <if test="record.info != null" >
                info = #{record.info,jdbcType=VARCHAR},
            </if>
            <if test="record.iscorrect != null" >
                iscorrect = #{record.iscorrect,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update selectionanswer
        set id = #{record.id,jdbcType=INTEGER},
            question_id = #{record.questionId,jdbcType=INTEGER},
            info = #{record.info,jdbcType=VARCHAR},
            iscorrect = #{record.iscorrect,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.like.trip.model.Selectionanswer" >
        update selectionanswer
        <set >
            <if test="questionId != null" >
                question_id = #{questionId,jdbcType=INTEGER},
            </if>
            <if test="info != null" >
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="iscorrect != null" >
                iscorrect = #{iscorrect,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.like.trip.model.Selectionanswer" >
        update selectionanswer
        set question_id = #{questionId,jdbcType=INTEGER},
            info = #{info,jdbcType=VARCHAR},
            iscorrect = #{iscorrect,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>